# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/tm-inject/CopilotIndices
.vs/tm-inject/copilot-chat
.vs/tm-inject/FileContentIndex
.vs/tm-inject/v17
x64
Debug